<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <config>
    <add key="repositorypath" value="packagesExpanded" />
  </config>
  <packageSources>
    <add key="RES - External Packages" value="http://kl-svn-001/external-packages/nuget" />
    <add key="RES - Internal Packages" value="http://kl-svn-001/res-packages/nuget" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2/" />
  </packageSources>
</configuration>